@import "variables";

body {
    background: $color-secondary;
    font-family: $default-font;
    font-size: 16px;
    margin: 0;
}

h1, h2 {
    font-weight: 400;
}

p {
    line-height: 1.5;
}

header, main, footer, .links {
    margin-top: 60px;
}

figcaption {
    font-size: 0.9em;
    font-weight: 300;

    p {
        margin: 0;
    }
}

%clearfix {
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

.container {
    margin: 0 auto;
    width: 80%;

    @extend %clearfix;
}

.center-text {
    text-align: center;
}

.responsive-img {
    max-width: 100%;
}

.btn {
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    transition: all 0.2s linear;
}

.btn--default {
    background: $btn-default-background;
    color: $color-text;

    &:hover {
        background: lighten($btn-default-background, 10%);
    }
}

footer {
    background: $color-primary;
    color: $color-text;

    a {
        border-bottom: 1px dotted $color-text;
        color: $color-text;
        text-decoration: none;
        transition: all 0.2s linear;

        &:hover {
            border-color: $color-link;
            color: $color-link;
        }
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

@media screen and (max-width: 768px) {
    .btn--default {
        display: block;
    }
}

@media screen and (max-width: 580px) {
    .left, .right {
        float: none;
    }

    footer {
        padding-top: 10px;
    }
}
