@import "speedrun-styles";
@import "variables";

.simon {
    font-size: 0;
    height: 300px;
    width: 300px;

    .simon-btn {
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        height: 150px;
        padding: 20px;
        transition: all 0.2s ease-in-out;
        width: 150px;
    }

    $i: 1;
    @each $color in $colors {
        $current-color: nth($btn-colors, $i);

        .#{$color} {
            background: $current-color;

            &.current {
                background: lighten($current-color, 10%);
            }
        }
        $i: $i + 1;
    }

    button, span {
        font-size: 1rem;
    }
}
